[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	fileMode = false
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
	commitGraph = true
	autocrlf = input
	excludesfile = ~/.gitignore
[user]
	name = Carlos Chacin
	email = cchacin@gmail.com
	useconfigonly = true
	signingKey = 186524BD
[merge]
	tool = diffmerge
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg

[includeIf "gitdir:~/Git/groupon/jtier/"]
  path = .gitconfig-groupon
[includeIf "gitdir:~/Git/groupon/"]
  path = .gitconfig-groupon
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rerere]
	enabled = true
[pull]
	rebase = true
[gc]
	writeCommitGraph = true
[fetch]
	writeCommitGraph = true
