[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[core]
	fileMode = false
	ignorecase = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Carlos Chacin
	email = cchacin@gmail.com
	useconfigonly = true
	signingkey = 24B5EC8D
[merge]
	tool = diffmerge
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/cchacin/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgSign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[includeIf "gitdir:~/Git/groupon/"]
  path = .gitconfig-groupon
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rerere]
	enabled = true
[pull]
	rebase = true
